html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
  }
  
  header {
    background: #404041;
    padding: 15px 0;
    text-align: center;
  }
  
  header span {
    color: #ED458B;
    font-weight: 700;
  }
  
  header h1 {
    color: #E6E7E8;
    font-size: 3em;
  }
  
  section {
    margin: auto;
    text-align: center;
    width: 50%;
  }
  
  .btn {
    border-radius: 30px;
    margin: 0 40px 30px 40px;
    padding: .8em;
    width: 150px;
  }
  
  .btn-wide {
    margin: 25px;
    padding: .5em;
    width: 50%;
  }
  
  .btn-active {
    background: #929497;
    color: #FFFFFF;
  }
  
  .btn-disabled {
    background: #D0D2D3;
    color: #FFFFFF;
  }

  .input-fields {
    display: block;
    font-size: 20px;
    height: 30px;
    margin: 25px auto;
    padding: .8em .5em;
    width: 45%;
  }

  .input-fields-30 {
    margin: 0 0 15px auto;
    width: 30%;
  }

  .input-fields::placeholder {
    color: #D0D2D3;
    font-weight: 100;
  }
  
  input.btn-active:hover, button.btn-active:hover {
    background: #EB008B;
    color: #FFFFFF;
    transition: background-color .5s;
  }
    
  section h4 {
    color: #404041;
  }
  
  section h1 {
    color: #EB008B;
    font-size: 9em;
  }
  